# Extensions

*.a
*.bat
*.bin
*.dll
*.dot
*.etag
*.exe
*.gcda
*.gcno
*.gcov
*.gguf
*.gguf.json
*.lastModified
*.log
*.metallib
*.o
*.so
*.tmp

# IDE / OS

.cache/
.ccls-cache/
.direnv/
.DS_Store
.envrc
.idea/
.swiftpm
.vs/
.vscode/
nppBackup

# Models
models/*
gpu/checkpoints/*

# Python

/.venv
__pycache__/
*/poetry.lock
poetry.toml

build/
logs/cuda_*.run
*.run
cuda_*.run
*.run
neuronos-v*.tar.gz
neuronos/wasm/build-wasm-*/
neuronos/wasm/dist/
build-static/
build-cuda/
build-gpu/
build-test/
build_test/
